{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">{{ project.name }}</h1>
    <p class="text-center">{{ project.description|safe }}</p>
    {% if project.photo %}
    <div class="text-center mb-4">
        <img src="{{ project.photo.url }}" class="img-fluid" alt="{{ project.name }}">
    </div>
    {% endif %}
    <ul class="list-group mt-3">
        <li class="list-group-item"><strong>Start Date:</strong> {{ project.start_date }}</li>
        <li class="list-group-item"><strong>End Date:</strong> {{ project.end_date }}</li>
        <li class="list-group-item"><strong>Client:</strong> {{ project.client }}</li>
        <li class="list-group-item"><strong>Manager:</strong> {{ project.manager }}</li>
        <li class="list-group-item"><strong>Employees:</strong>
            {% for employee in project.employees.all %}
                {{ employee.first_name }} {{ employee.last_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item"><strong>Tasks:</strong>
            {% for task in project.tasks.all %}
                {{ task.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
        <li class="list-group-item"><strong>Invoices:</strong>
            {% for invoice in project.invoices.all %}
                {{ invoice.amount }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}
