{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Projects</h1>
    <p class="text-center">Projects list</p>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4 mb-4">
            <a href="{% url 'project_detail' project.id %}" class="card-link"> <!-- Nuoroda visai kortelei -->
                <div class="card">
                    {% if project.photo %}
                    <img src="{{ project.photo.url }}" class="card-img-top" alt="{{ project.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container puslapiai">
    <nav aria-label="...">
        {% if projects.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in projects.paginator.page_range %}
                    {% if projects.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}
